*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(39, 27, 11);  
    display: grid;
    place-items: center;
    height: 100vh;
}    
main {
    display: grid;
    grid-template-areas:
    'a a a b'
    'c c d d'
    'c c e e'
    ;
    gap: 8px;
    width: 30%;
    margin: auto;
}
.big {
    background-color: darkslategray;
}
main div {
    padding: 2em;
}
.one {
    background-color: rgba(255, 72, 0, 0.897);
    grid-area: a;
    height: 50px;
}
.two {
    background-color: rgba(250, 165, 6, 0.966);
    grid-area: b;
    height: 50px;
}
.three {
    background-color: rgb(8, 175, 50);
    grid-area: c;
}
.four {
    background-color: rgb(44, 165, 212);
    grid-area: d;
} 
.five {
    background-color: rgb(42, 153, 197);
    grid-area: e;
    height: 10px;
}
