* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(0, 0%, 95%);
  font-size: 15px;
  font-weight: 400;
}
main {
  width: 50%;
  margin: auto;
  display: flex;

  align-items: center;
  justify-content: center;
  height: 100vh;
}
.one {
  background-color: hsl(31, 77%, 52%);
  height: 60%;
}
.two {
  background-color: hsl(184, 100%, 22%);
  height: 60%;
}
.three {
  background-color: hsl(179, 100%, 13%);
  height: 60%;
}
img{
  padding: 30px;
  align-items: center;
}
h1 {
  color: hsl(0, 0%, 95%);
  padding: 20px;
}
p {
  color: hsl(0, 0%, 100%, 0.75);
  padding: 20px;
  }

a:link {
  background-color: hsl(0, 0%, 95%);
  text-decoration: none;
  border-radius: 50px;
  padding:10px 30px;
  margin: 15px 30px;
}
.sedans{ 
  color: hsl(31, 77%, 52%);
}
.suvs{
color: hsl(184, 100%, 22%);
}
.luxury{
  color:hsl(179, 100%, 13%);
}
a.sedans:hover{
    background-color: hsl(31, 77%, 52%);; 
    color: white;
    border: 1px solid white;
}
a.suvs:hover{
  background-color: hsl(184, 100%, 22%);
  color: white;
  border: 1px solid white;
}
a.luxury:hover{
  background-color: hsl(179, 100%, 13%); 
  color: white;
  border: 1px solid white;
}